gui:
  nerdFontsVersion: "3"
  # Tokyo Night Moon theme
  theme:
    activeBorderColor:
      - "#ff966c"
      - "bold"
    inactiveBorderColor:
      - "#589ed7"
    searchingActiveBorderColor:
      - "#ff966c"
      - "bold"
    optionsTextColor:
      - "#82aaff"
    selectedLineBgColor:
      - "#2d3f76"
    cherryPickedCommitFgColor:
      - "#82aaff"
    cherryPickedCommitBgColor:
      - "#c099ff"
    markedBaseCommitFgColor:
      - "#82aaff"
    markedBaseCommitBgColor:
      - "#ffc777"
    unstagedChangesColor:
      - "#c53b53"
    defaultFgColor:
      - "#c8d3f5"
os:
  editPreset: nvim
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never --24-bit-color=never
  localBranchSortOrder: recency
customCommands:
  - key: "<c-y>"
    context: "files"
    command: "git diff --staged | pbcopy"
